* {
    margin: 0px;
    padding: 0px;
    color: #063460;
    font-family: Poppins;
}


img{
  display: inline-block;
}

.nav-link:hover {
    border-bottom: 2px solid #063460;
}

.dropdown-toggle:hover {
    border-bottom: none;
}

.active{
    border-bottom: 2px solid #063460;
}

.nav-link{
    color: #063460;
}

.feat {
    padding: 1% 3%;
    text-align: center;
}




footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #6BC5D2;
}


.dropdown-item:hover{
    background-color: #E4F6F3;
}


