{% extends 'basic.html' %}
{% load static %}

{% block title %}Paramount{% endblock %}

{% block body %}

<div class="forum-head col-md-8 offset-md-2">
    <div class="row">
        <div class="col-md-8">
            <h1> Discussion forum</h1>        
        </div>
        <div class="col-md-4 mt-1">
            <a class="btn create-btn" href="{% url 'forum_post' %}" role="button">Create a Post</a>
        </div>
    </div>
    
    <hr>
    {% for post in posts %}
    <h2><a class="forum-subhead" href="{% url 'forum_detail' post.title post.created_on %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p class="mb-3 mt-2">{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>

{% endblock %}