<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="Enter your description here" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'course/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{%static 'course/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'course/css/basic.css' %}">
  <link rel="stylesheet" href="./static/course/css/index.css">


<style type="text/css">
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.flexing {
  height: 100vh;
  display: flex;
  margin-top: 6%;
}

.code-area {
  display: flex;
  flex-direction:column;
  width: 50%;
  border-right:1px solid #555;
}
.code-area textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
}
.preview-area {
  width: 50%;
  clear:both;
}
.preview-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}
</style>

  <!-- Style -->
  <link rel="stylesheet" href="{%static 'course/css/web.css' %}">

  <!-- <script src="js/main.js"></script> -->



</head>

<body>

    <!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #6BC5D2;">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="#"> <img src="https://cdn-icons-png.flaticon.com/512/4135/4135908.png" alt=""
                    width="30" height="30"> Paramount</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="{% url 'quiztopic' %}">Quiz</a>
                    </li>
                    <li class="nav-item px-2">
                      <a class="nav-link " href="{% url 'library' %}">Library</a>
                  </li>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="{% url 'agnlanding' %}">Assignments</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="{% url 'practice' %}">Practice</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="{% url 'aboutus' %}">About</a>
                    </li>

                    <li class=" dropdown px-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn-icons-png.flaticon.com/512/727/727399.png" alt="Profile picture"
                                width="30" height="30">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



  <div class="flexing">
  <div class="code-area">
    <textarea id="htmlCode" placeholder="Write Your code here" 
              oninput="showPreview()"></textarea>
    
  </div>
  <div class="preview-area">
    <iframe id="preview-window"></iframe>
  </div>
  <div>

<script>function showPreview(){
  var htmlCode = document.getElementById("htmlCode").value;
  var frame = document.getElementById("preview-window").contentWindow.document;
  frame.open();
  frame.write(htmlCode);
  frame.close();
}</script>

</body>
</html>