{% extends 'basic.html' %}
{% load static %}

{% block title %}Paramount{% endblock %}

{% block body %}


    <section class="header"><h2 class="heading" >Profile</h2></section>

    <!-- {% for Page in Pages %} -->
    <section class="profile">

      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img class="student" src="./static/course/images/subjects/student.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 aligning" >
          <form action="/action_page.php" class="pro-content">
            <div class="mb-3 siding">
              <label for="fname" class="form-label">First name:</label>
              <input class="form-control" type="text" id="fname" name="fname" value="{{Page.pfname}}">
            </div>
            <div class="mb-3 siding">
              <label for="lname" class="form-label">Last name:</label>
              <input type="text" class="form-control" id="lname" name="lname" value="{{Page.plname}}">
            </div>
            <div class="mb-3 siding">
              <label for="mobile" class="form-label">Mobile Number:</label>
              <input type="text" class="form-control" id="mobile" name="mobile" value="{{Page.pmobile}}">
            </div>
            <div class="mb-3">
              <label for="college" class="form-label">College:</label>
              <input type="text" id="college" class="form-control" name="college" value="{{Page.pcollege}}">
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age:</label>
              <input type="text" class="form-control" id="age" name="age" value="{{Page.page}}">
            </div>
            <input class=" save-btn mb-3" type="submit" value="Save" >
          </form>
          <!-- {% endfor %} -->

        </div>
      </div>

    </section>

{% endblock %}